site_name: ISSUE WEB SEARCH
site_url: https://justwe.uk/
edit_uri: ""

theme:
  name: material
  custom_dir: docs/overrides
  features:
    - navigation.indexes
    - navigation.indexes
    - navigation.top
    - navigation.tracking
    - navigation.path
    - toc.follow
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate
  palette:
    # Slate (Dark mode)
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      accent: purple
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  font:
    text: Roboto
    code: Roboto Mono

plugins:
  - search
  - tags:
      tags_file: tags.md

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details

extra:
  adsense_id: ca-pub-1591357964960456 # Replace with your ID


