site_name: ISSUE WEB SEARCH
site_url: https://idmakers.github.io/automatic_A/
repo_url: https://github.com/idmakers/automatic_A
repo_name: idmakers/automatic_A
edit_uri: ""

theme:
  name: material
  custom_dir: docs/overrides
  features:
    - navigation.indexes
    - search.suggest
    - search.highlight
    - content.code.copy
  palette:
    # Slate (Dark mode)
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

plugins:
  - search
  - tags

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details

extra:
  adsense_id: ca-pub-XXXXXXXXXXXXXXXX # Replace with your ID


